VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
SUPABASE_PROJECT_REF=
VITE_API_URL=
VITE_STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
VPS_HOST=
VPS_USER=
VPS_PORT=
VPS_PASSWORD=
VPS_KEY_PATH=
# Banco Inter API
INTER_CLIENT_ID=
INTER_CLIENT_SECRET=
INTER_CERT_PATH=./certs/inter.crt
INTER_KEY_PATH=./certs/inter.key

